/* Custom properties */
/* ///////////////// */

:root {
  --text-color: #504239;
  --text-color2: #fffef9;
  --background-color: #fffef9;
}


/* Global */
/* ////// */

body {
  background-color: var(--background-color);
  color: var(--background-color);
  margin: 0;
  padding: 0;
}


/* Fonts, tekst deco */
/* ///// */

/* h1 {
    ...
} =hidden, maakt niet uit */

h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-family: "Noto Sans", sans-serif;
}

p {
  font-family: "Noto Sans", sans-serif;
}

button {
  font-family: "Montserrat", sans-serif;
}

a {
  font-family: "Noto Sans", sans-serif;
}

label {
  font-family: "Noto Sans", sans-serif;
  font-size: small;
}

#landing p:first-of-type {
  font-family: "Dancing Script", cursive;
}

#vind-inspiratie p:first-of-type {
  font-family: "Dancing Script", cursive;
}

h2, h3, p, button, label {
  color: var(--text-color);
}


/* Visually hidden */
/* /////////////// */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/* Bron = https://www.a11yproject.com/posts/how-to-hide-content/ */


/* Hamburgermenu */

button[aria-label="toggle menu"] {
  appearance:none;
  font-size:1em;
  width:1em;
  aspect-ratio:1;
  border:none;
  background:#fffef9;
  display:grid;
  align-content:center;
  scale: 0.9;
}

button[aria-label="toggle menu"] span {
  display:block;
  width:1.2em;
  height:.1em;
  background-color:#504239;
  border-radius:.1em;
  grid-column-start:1;
  grid-row-start:1;
  transition:.3s;
}

button[aria-label="toggle menu"] span:nth-of-type(1) {
  translate:0 -.5em;
}

/* button[aria-label="toggle menu"] span:nth-of-type(2) {
  do not use empty rulesets
} */

button[aria-label="toggle menu"] span:nth-of-type(3) {
  translate:0 .5em;
}

button[aria-label="toggle menu"].is-open span:nth-of-type(1) {
  translate:0 0;
  rotate:45deg;
}

button[aria-label="toggle menu"].is-open span:nth-of-type(2) {
  scale:0 1;
}

button[aria-label="toggle menu"].is-open span:nth-of-type(3) {
  translate:0 0;
  rotate:-45deg;
}
/* Bron = hamburgermenu button klassikale oefening werkgroep 4 */


/* Nav bar */
/* /////// */

nav ul {
  display:flex;
  gap:1em;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin: 0.7em;
  }

nav ul li:nth-child(2) {
  margin-right: auto;
  margin-top: 0.5em;
}

nav button[aria-label="toggle menu"] {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

nav ul li svg {
  scale: 0.9;
}


/* Section 1 landing */
/* ///////////////// */

#landing {
  background: url('https://assets.sostrenegrene.com/cdn-cgi/image/height=700,width=500,quality=70,format=webp,fit=cover,gravity=0.5x0.5/media/wtbf4ma2/websize_hero_sostrene-grene_christmas-2542c_162.jpg')
              center / cover no-repeat;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}

#landing h2 {
  color: var(--text-color2);
  font-size: 4rem;
  font-weight: 500;
  order:2;
  margin-top: 0;
}

#landing p:first-of-type {
  order:1;
  color: var(--text-color2);
  font-size: 3rem;
  transform: rotate(-5deg);
  margin-bottom: 0.5em;
  margin-top: 1.5em;

}

#landing a {
  order:3;
  margin-top:4em;
  margin-bottom: 2em;
  text-decoration: none;
  background-color: var(--text-color2);
  padding: 0.7em 1em;
  border-radius: 2px;
  font-weight:500;
  color: var(--text-color);
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
}

#landing a::after {
  background-image: url('../glitter-2-svgrepo-com.svg');
  background-size: contain;
  content: "";
  width: 2em;
  height: 2em;
  margin-left: 1em;
}
/* zelf icoontje gemaakt want die van de site werkte niet, bron: https://www.svgrepo.com/svg/477652/glitter-2 */


/* Section 2 populair */
/* ////////////////// */

#populair {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#populair h2 {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 2.5em;
}

#populair p {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
}

#populair a {
  text-decoration: none;
}

#populair ul {
  margin-top: 3em;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(3, minmax(120px, 10px));
}

#populair li {
  display: flex;
  text-align: center;
}

/* schalen naast elkaar op grote schermen */
@media (min-width: 768px) {
  #populair ul {
    grid-template-columns: repeat(4,120px);
  }
}

@media (min-width: 1024px) {
  #populair ul {
    grid-template-columns: repeat(5,120px);
  }
}

@media (min-width: 1280px) {
  #populair ul {
    grid-template-columns: repeat(6,120px);
  }
}


/* Section 3 trending */
/* ////////////////// */

#trending h2 {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 2.5em;
  text-align: left;
  margin-left: 1em;
}