/* Custom properties */
/* ///////////////// */

:root {
  --text-color: #504239;
  --text-color2: #fffef9;
  --background-color: #fffef9;
  --accent1: #faf7f1;
  --accent2: #f2eee2;
}



/* Global */
/* ////// */

body {
  background-color: var(--background-color);
  color: var(--background-color);
  margin: 0;
  padding: 0;
}



/* Fonts, tekst deco */
/* ///////////////// */

/* h1 {
    ...
} =hidden, maakt niet uit */

h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-family: "Noto Sans", sans-serif;
}

p {
  font-family: "Noto Sans", sans-serif;
}

button {
  font-family: "Montserrat", sans-serif;
}

a {
  font-family: "Noto Sans", sans-serif;
}

label {
  font-family: "Noto Sans", sans-serif;
  font-size: small;
}

main section:first-of-type p:first-of-type {
  font-family: "Dancing Script", cursive;
}

main section:nth-of-type(4) p:first-of-type {
  font-family: "Dancing Script", cursive;
}

h2, h3, p, button, label {
  color: var(--text-color);
}



/* Visually hidden */
/* /////////////// */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/* Bron = https://www.a11yproject.com/posts/how-to-hide-content/ */


/* Hamburgermenu */

button[aria-label="toggle menu"] {
  appearance:none;
  font-size:1em;
  width:1em;
  aspect-ratio:1;
  border:none;
  background:#fffef9;
  display:grid;
  align-content:center;
  scale: 0.9;
}

button[aria-label="toggle menu"] span {
  display:block;
  width:1.2em;
  height:.1em;
  background-color:#504239;
  border-radius:.1em;
  grid-column-start:1;
  grid-row-start:1;
  transition:.3s;
}

button[aria-label="toggle menu"] span:nth-of-type(1) {
  translate:0 -.5em;
}

/* button[aria-label="toggle menu"] span:nth-of-type(2) {
  do not use empty rulesets
} */

button[aria-label="toggle menu"] span:nth-of-type(3) {
  translate:0 .5em;
}

button[aria-label="toggle menu"].is-open span:nth-of-type(1) {
  translate:0 0;
  rotate:45deg;
}

button[aria-label="toggle menu"].is-open span:nth-of-type(2) {
  scale:0 1;
}

button[aria-label="toggle menu"].is-open span:nth-of-type(3) {
  translate:0 0;
  rotate:-45deg;
}
/* Bron = hamburgermenu button klassikale oefening werkgroep 4 */



/* Nav bar */
/* /////// */

svg {
  fill: var(--text-color);
}

nav ul {
  display:flex;
  gap:1em;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin: 0.7em;
  }

nav ul li:nth-child(2) {
  margin-right: auto;
  margin-top: 0.5em;
}

nav button[aria-label="toggle menu"] {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

nav ul li svg {
  scale: 0.9;
}



/* Section 1 landing */
/* ///////////////// */

main section:first-of-type {
  background: url('https://assets.sostrenegrene.com/cdn-cgi/image/height=700,width=500,quality=100,format=webp,fit=cover,gravity=0.5x0.5/media/poqcxasp/websize_hero_sostrene-grene_christmas-2542c_021.jpg')
              center / cover no-repeat;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}

main section:first-of-type h2 {
  color: var(--text-color2);
  font-size: 4rem;
  font-weight: 500;
  order:2;
  margin-top: 0;
}

main section:first-of-type p:first-of-type {
  order:1;
  color: var(--text-color2);
  font-size: 3rem;
  transform: rotate(-5deg);
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

main section:first-of-type a {
  order:3;
  margin-top:4em;
  margin-bottom: 2em;
  text-decoration: none;
  background-color: var(--text-color2);
  padding: 0.7em 1em;
  border-radius: 2px;
  font-weight:500;
  font-size: 0.9em;
  color: var(--text-color);
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  transition: background 0.2s ease, transform 0.2s ease;
}

main section:first-of-type a::after {
  background-image: url('../glitter-2-svgrepo-com.svg');
  background-size: contain;
  content: "";
  width: 2em;
  height: 2em;
  margin-left: 1em;
}
/* zelf icoontje gemaakt want die van de site werkte niet, bron: https://www.svgrepo.com/svg/477652/glitter-2 */

main section:first-of-type a:hover {
  transform: scale(1.1);
}



/* Section 2 populair */
/* ////////////////// */

main section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section:nth-of-type(2) h2 {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 2.5em;
}

main section:nth-of-type(2) p {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
}

main section:nth-of-type(2) a {
  text-decoration: none;
}

main section:nth-of-type(2) ul {
  margin-top: 1em;
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(3, minmax(120px, 10px));
}

main section:nth-of-type(2) li {
  display: flex;
  text-align: center;
}

main section:nth-of-type(2) img {
  background-color: var(--accent1);
  border-radius: 50%;
  transition: background 0.2s ease, transform 0.2s ease;
}

main section:nth-of-type(2) img:hover {
  transform: scale(1.1);
}

/* schalen naast elkaar op grote schermen */
@media (min-width: 768px) {
  main section:nth-of-type(2) ul {
    grid-template-columns: repeat(4,120px);
  }
}

@media (min-width: 1024px) {
  main section:nth-of-type(2) ul {
    grid-template-columns: repeat(5,120px);
  }
}

@media (min-width: 1280px) {
  main section:nth-of-type(2) ul {
    grid-template-columns: repeat(6,120px);
  }
}



/* Section 3 trending */
/* ////////////////// */

main section:nth-of-type(3) h2 {
  anchor-name: --heading;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 2.5em;
  text-align: left;
  margin-left: 1em;
  order: 2;
}

main section:nth-of-type(3) ul {
  display: flex;
  gap: 20px;
  padding: 1em;

  list-style-type:"";
  overflow-x:auto;
  scroll-snap-type:x mandatory;
	scroll-behavior:smooth;
  overscroll-behavior-x:contain;
  anchor-name: --carousel;
}

main section:nth-of-type(3) ul {
  &::scroll-button(*) {
    position: fixed;
    position-anchor: --heading;
    position-visibility: always;
    		
		margin-top:1em;
		
		height:2em;
  }

  &::scroll-button(right) {
    position-area: center right;
    content: '→' / 'Next';
		
		justify-self:end;
    margin-right: 10px;
  }

  &::scroll-button(left) {
    position-area: center right;
    content: '←' / 'Previous';
		
		justify-self:start;
    margin-right: 50px;
  }
}
/* bron: carousel voortgangsgesprek 3, product cards ervan gemaakt */

main section:nth-of-type(3) li {
	width: 14.5em;
	height: auto;
	
	flex-shrink: 0;
	
	scroll-snap-align: center;
}

main section:nth-of-type(3) img {
  width: 100%;
  order: 1;
}

/* product cards */

main section:nth-of-type(3) a {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "img img"
    "h3 h3"
    "p button2";
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  padding: 0.5em;
  gap: 0;
}

main section:nth-of-type(3) a img {
  grid-area: img;
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 2px;
}

main section:nth-of-type(3) a h3 {
  grid-area: h3;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 1em 0 0;
}

main section:nth-of-type(3) a p {
  grid-area: p;
  font-size: 0.7rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 350;
  margin: 0;
  align-self: center;
}

/* winkelmand button */

main section:nth-of-type(3) a button:nth-of-type(2) {
  grid-area: button2;
  justify-self: end;
  align-self: center;
  background-color: var(--background-color);
  border: none;
  border-radius: 2px;
  padding: 0.4em;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
}

main section:nth-of-type(3) a button:nth-of-type(2):hover {
  transform: scale(1.2);
}

/* like button */

main section:nth-of-type(3) a button:first-of-type {
  position: absolute;
  top: 1em;
  right: 1em;
  place-items: center;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 2px;
  padding-top: 0.8em;
  padding-left: 0.8em;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
}

main section:nth-of-type(3) a button:first-of-type:hover {
  background: #fff;
  transform: scale(1.1);
}

main section:nth-of-type(3) ul::-webkit-scrollbar {
  display: none;
}
/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */



/* Section 4 vind inspiratie */
/* ///////////////////////// */

main section:nth-of-type(4) h2 {
font-weight: 400;
font-size: 1.5rem;
text-align: left;
order:2;
margin-top:0;
}

main section:nth-of-type(4) p:first-of-type {
  order:1;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
}

main section:nth-of-type(4) p:last-of-type {
  order:4;
}

main section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
}

main section:nth-of-type(4) img {
  order: 3;
  max-width: 700px;
}

main section:nth-of-type(4) a {
  order: 5;
  text-decoration: none;
  padding: 0.7em 1em;
  border-radius: 2px;
  border: 1px solid var(--text-color);
  font-weight:500;
  color: var(--text-color);
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
  transition: transform 0.2s ease, background 0.2s ease;
}

main section:nth-of-type(4) a:hover {
  background-color: var(--text-color);
  color: var(--text-color2);
}



/* Section 5 artikels */
/* ////////////////// */

main section:nth-of-type(5) img {
  width: 20em;
  margin: 1em;
}

main section:nth-of-type(5) {
  background-color: var(--accent2);
  padding: 1em 1.5em;
  margin-top: 1em;
}

main section:nth-of-type(5) li {
  list-style-type: none;
}

main section:nth-of-type(5) h2 {
  text-align: start;
  font-weight: 400;
}

main section:nth-of-type(5) h3 {
  font-weight: 600;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0;
}

main section:nth-of-type(5) p {
  font-weight: 300;
  font-size: 0.8em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 0;
}

main section:nth-of-type(5) ul {
	margin:0;
	padding:0;
  gap: 2em;
	list-style-type:"";
	
	display:flex;
	overflow-x:auto;
	
	scroll-snap-type:x mandatory;
	scroll-behavior:smooth;
	
	overscroll-behavior-x:contain;
	
	font-size:1em;
	
	anchor-name: --carousel;
}

main section:nth-of-type(5) ul {
  &::scroll-button(*) {
    position: fixed;
    position-anchor: --carousel;
    position-visibility: always;
    		
		margin-top:1em;
		
		height:2em;
  }

  &::scroll-button(right) {
    position-area: top center;
    content: '→' / 'Next';
		
		justify-self:end;
  }

  &::scroll-button(left) {
    position-area: top center;
    content: '←' / 'Previous';
		
		justify-self:start;
  }
}

main section:nth-of-type(5) li {
	width:22em;
	height:auto;
	background-color: var(--background-color);
	
	flex-shrink:0;
	
	scroll-snap-align:center;
}
/* bron: weer carousel uit voortgangsgesprek 3, aangepast */

main section:nth-of-type(5) ul::-webkit-scrollbar {
  display: none;
}
/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */



/* Section 6 ontdek */
/* //////////////// */

main section:nth-of-type(6) ul {
	margin:0;
	padding:0;
	list-style-type:"";
	
	display:flex;
	overflow-x:auto;
	
	scroll-snap-type:x mandatory;
	scroll-behavior:smooth;
	
	overscroll-behavior-x:contain;
	
	font-size:1em;
	
	anchor-name: --carousel;
}

main section:nth-of-type(6) ul {
  &::scroll-button(*) {
    position: fixed;
    position-anchor: --carousel;
    position-visibility: always;
    font-family: "Material Symbols Outlined";
		
		margin-top:1em;
		
		height:2em;
  }

  &::scroll-button(right) {
    position-area: bottom center;
    content: '→' / 'Next';
		
		justify-self:end;
  }

  &::scroll-button(left) {
    position-area: bottom center;
    content: '←' / 'Previous';
		
		justify-self:start;
  }
}

main section:nth-of-type(6) li {
	width:16em;
	height:12em;
	background-image:linear-gradient(45deg,pink,lime);
	
	flex-shrink:0;
	
	scroll-snap-align:center;
}


/* Section 7 instagram */
/* /////////////////// */



/* Section 8 nieuwsbrief */
/* ///////////////////// */



/*    footer nav    */

/* Section 1 linkjes nav*/
/* //////////////////// */

footer section:first-of-type h2, p {
  color: var(--text-color);
}

footer section:first-of-type a {
  color: var(--text-color);
  text-decoration: none;
}


/* Section 2 footer nav */
/* //////////////////// */

footer section:last-of-type {
  background-color: var(--text-color);
}

footer section:last-of-type h2 {
  color: var(--text-color2);
}

footer section:last-of-type p {
  color: var(--text-color2);
}